# Ignore node_modules directory
node_modules/

# Ignore environment variable file
.env

# Ignore temporary files
tmp/

# Ignore log files
*.log

# Ignore build directory
dist/

# Ignore coverage directory
coverage/

# Ignore macOS DS_Store files
.DS_Store